.chatlist{
    display: flex;
    flex-flow: column;
    overflow: scroll;
    scrollbar-width: none;
    
    .search{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        gap: 20px;
    
        .searchbar{
            display: flex;
            flex: 1;
            align-items: center;
            background-color: rgba(17, 27, 40, 0.5);
            padding: 0 10px;
            gap: 10px;
            border-radius: 2px;
    
            img{
                width: 20px;
                height: 20px;
            }
    
            input{
                flex: 1;
                padding: 12px 0;
                background-color: transparent;
                border: none;
                outline: none;
                color: white;
            }
        }
    
        .plus{
            background-color: rgba(17, 27, 40, 0.5);
            width: 40px;
            height: 40px;
            cursor: pointer;
            border-radius: 2px;
            padding: 10px;
        }
    }
    
    .items{
        display: flex;
        flex-flow: column;
        overflow: scroll;
        scrollbar-width: none;
        
        .item{
            display: flex;
            align-items: center;
            padding: 20px;
            border-bottom: 1px solid white;
            margin: 0 10px;
            gap: 20px;
            cursor: pointer;
    
            img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
    
            .username{
                display: flex;
                flex-flow: column;
    
                span{
                    font-size: 20px;
                }

                p{
                    font-size: 13px;
                }
            }
        }
    }

    .addChat{
        background-color: rgba(17, 27, 40, 0.5);
        width: 40%;
        height: 40%;        
    }
}
